<ul class="list-unstyled row ">
    <li *ngFor="let cols of rows" class="row">
        <div *ngFor="let foto of cols" class="col-4">
            <ap-card [title]="foto.description">

                <ap-foto [url]="foto.url"></ap-foto>
                <div class="text-center p-1">
                    <i aria-hidden="true" class="fa fa-heart-o fa-1x mr-2"></i>{{ foto.likes }}
                    <i aria-hidden="true" class="fa fa-comment-o fa-1x mr-2 ml-2"></i>{{ foto.comments }}
                </div>
            </ap-card>
        </div>
    </li>
</ul>